@font-face {
    font-family: "Kantit";
    src: url("./fonts/Kanit-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Kantit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

@media (max-width: 600px) {
    body {
        transform: scale(0.5);
    }
}
